body {
    background: #dbe8f4;
    font-family: Arial, sans-serif;
}

:root{
    --primary-background: #c4dbf3;
    --secondary-background: #c4dbf3;
    --primary-font-color:  #267ed6d5;
}

.chat-container {
    width: 100%;
    max-width: 850px;
    margin: 30px auto;
    
}

.header-title {
    color: var(--primary-font-color);
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 30px;
}

.chat-window {
    height: 100%;
    max-height: 620px;
    overflow-y: auto;
    padding-right: 50px;
}


.chat-window::-webkit-scrollbar {
    width: 7px;
    background-color: var(--secondary-background);
    border-radius: 50px;

}

.chat-window::-webkit-scrollbar-thumb {
    background-color: var(--primary-font-color);
    border-radius: 50px;
}


.chat-item {
    margin-bottom: 35px; 
}

.question {
    font-size: 20px;
    font-weight: bold;
    color: #0d1b3f;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 22px;
}



.answer {
    background: var(--primary-background);
    padding: 22px 52px 22px 30px;
    border-radius: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(94, 94, 94);
    position: relative;
    overflow: visible;
}

.answer::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 52px;
    width: 0px;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #c4dbf3;
    transform: rotate(89deg);
}

.render-link {
    color: #003c87;
    font-weight: bold;
}


.chat-input {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 20px 16px 30px;
    border-radius: 14px;
    margin-top: 25px;
    gap: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
}

.chat-input input {
    border: none;
    flex: 1;
    font-size: 16px;
    outline: none;
}

.chat-input input::placeholder {
    color: #267ed6;
}

.chat-input button {
    border: none;
    background: none;
    display: flex;
    align-self: center;
    cursor: pointer;
}




@media only screen and (max-width: 576px) {
    .question {
        font-size: 18px;  
    }
    .chat-window {
        padding-right: 20px;
    }

    .answer {
        font-size: 14px; 
        padding: 18px 40px 18px 25px; 
    }
    .chat-input{
        margin-right: 10px;
    }
}
