body {
    background: #dbe8f4;
    font-family: Arial, sans-serif;
}

:root {
    --primary-background: #c4dbf3;
    --secondary-background: #c4dbf3;
    --primary-font-color: #267ed6d5;
    --font-fourtenn: 14px;
    --font-sixteen: 16px;
    --font-eighteen: 18px;
    --font-twenty: 20px;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    touch-action: pan-y;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



.chat-container {
    width: 100%;
    max-width: 850px;
    margin: 30px auto;
    padding: 0 15px;

}

.header-title {
    color: var(--primary-font-color);
    letter-spacing: 2px;
    font-size: var(--font-fourtenn);
    margin-bottom: 30px;
}

.chat-window {
    height: 100%;
    max-height: 620px;
    overflow-y: auto;
    padding-right: 50px;
}


.chat-window::-webkit-scrollbar {
    width: 7px;
    background-color: var(--secondary-background);
    border-radius: 50px;

}

.chat-window::-webkit-scrollbar-thumb {
    background-color: var(--primary-font-color);
    border-radius: 50px;
}


.chat-item {
    margin-bottom: 35px;
}

.question {
    font-size: var(--font-twenty);
    font-weight: bold;
    color: #0d1b3f;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 22px;
}



.answer {
    background: var(--primary-background);
    padding: 22px 52px 22px 30px;
    border-radius: 15px;
    font-size: var(--font-sixteen);
    line-height: 1.5;
    color: rgb(94, 94, 94);
    position: relative;
    overflow: visible;
}

.answer::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 52px;
    width: 0px;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #c4dbf3;
    transform: rotate(89deg);
}

.render-link {
    color: #003c87;
    font-weight: bold;
}

.chat-input {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 20px 16px 30px;
    border-radius: 14px;
    margin-top: 25px;
    gap: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
}

.chat-input input {
    border: none;
    flex: 1;
    font-size: var(--font-sixteen);
    outline: none;
    color: #267ed6;
}


.chat-input button {
    border: none;
    background: none;
    display: flex;
    align-self: center;
    cursor: pointer;
}



.typing {
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 15px 20px;
 
    /* border-radius: 15px 15px 5px 15px; */
    /* max-width: 25%; */
    margin-bottom: 20px;
}

.dot-pulse {
    display: flex;
    gap: 6px;
}

.dot-pulse div {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    animation: pulse 1.4s infinite ease-in-out both;
}

.dot-pulse div:nth-child(1) {
    animation-delay: -0.32s;
}

.dot-pulse div:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes pulse {

    0%,
    80%,
    100% {
        opacity: 0.3;
        transform: scale(0.8);
    }

    40% {
        opacity: 1;
        transform: scale(1);
    }
}




@media only screen and (max-width: 576px) {

    .chat-container{
        max-width: 95%;
    }
    .question {
        font-size: var(--font-eighteen);
    }

    .chat-window {
        padding-right: 15px;
    }

    .answer {
        font-size: var(--font-fourtenn);
        padding: 18px 40px 18px 25px;
    }

    .chat-input {
        margin-right: 10px;
        padding: 18px 10px 18px 15px;
    }
}

@media only screen and (min-width:577px) and (max-width: 870px) {

    .chat-container{
        max-width: 95%;
    }
    .chat-window {
        padding-right: 15px;
    }
    
}